<h1>Generate shortened url</h1>
<%= form_tag('/', method: "get") do %>
  <%= text_field_tag :user_input %>
  <div><%= submit_tag 'Generate' %></div>
<% end %>
<h1>Shortened url</h1>
<% @results.each do |result|%>
  <p><%= result["url"]%>  <%= result["use_count"]%> <%= result["unique_key"]%></p>
  <br/>
<%end%>
